body {
    background: url('../images/wp3858181.jpg');
    /* the follow is the code to have the image display as a full page */
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    background-color: #ECEBE4;
    /* color: #CC998D; */
    color: #429EA6;
    width: 30%;
    padding: 2rem;
}

h1 {
    font-size: 5rem;
    font-family: 'Courgette', cursive;
}

h2 {
    background-color: #75c1f6;
    color: #000;
}

a {
    /* color: #429EA6; */
    color: #75c1f6;
    /* color: indigo; */
    text-decoration: none;
}

iframe {
    width: 90%;
}